In [1]:

from nltk.corpus import shakespeare #XMLCorpusreader
import pandas as pd

result_frames = []

pd.options.display.max_colwidth = 20

for book in shakespeare.fileids():
    play = shakespeare.xml(book)
    tmp = pd.DataFrame(
        [(line.text, speech.find("SPEAKER").text,
          play.find("TITLE").text,
          a_index,
          s_index)
          for a_index, act
          in enumerate(play.findall('ACT'), start=1)
          for s_index,scene
          in enumerate(act.findall('SCENE'), start=1)
          for speech
          in scene.findall('SPEECH')
          for line
          in speech.findall("LINE")],
            columns =['Line', 'Speaker', 'Title','Act','Scene'])
    result_frames.append(tmp)

result = pd.concat(result_frames)
result.replace(to_replace=[None], value="", inplace=True)
result

                     Line Speaker                Title  Act  Scene
0     Nay, but this do...   PHILO  The Tragedy of A...    1      1
1     O'erflows the me...   PHILO  The Tragedy of A...    1      1
2     That o'er the fi...   PHILO  The Tragedy of A...    1      1
3     Have glow'd like...   PHILO  The Tragedy of A...    1      1
4     The office and d...   PHILO  The Tragedy of A...    1      1
...                   ...     ...                  ...  ...    ...
3060  The sun, for sor...  PRINCE  The Tragedy of R...    5      3
3061  Go hence, to hav...  PRINCE  The Tragedy of R...    5      3
3062  Some shall be pa...  PRINCE  The Tragedy of R...    5      3
3063  For never was a ...  PRINCE  The Tragedy of R...    5      3
3064  Than this of Jul...  PRINCE  The Tragedy of R...    5      3

[23998 rows x 5 columns]